/* TODO This needs to be implemented in the index css in evey single place where sidebar is */

/* Assuming 250px is the width of the sidebar */
.options_container.expanded {
	margin-left: 250px;
	transition: margin-left 0.5s ease;
}

.options_container.collapsed {
	margin-left: 88px; /* Or the width of your collapsed sidebar */
	transition: margin-left 0.4s ease;
}

.container_tasks {
	margin-left: 8rem;
	padding-top: 7rem;
	/* background-color: aquamarine;
	 */
	background-color: #e3f2fd;
	height: 100vh;
}

.tasks_heading {
	font-size: 3rem;
	text-align: center;
}

.tasks_heading::after {
	content: '';
	display: block;
	width: 15%;
	height: 6px;
	background-color: rgb(72, 207, 72);
	margin: auto;
	position: relative;
	top: 20px;
	border-radius: 4px;
}

.tasks_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 3rem;
	padding-bottom: 5rem;
}

.task_card {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 2rem;
	padding: 2rem;
	transition: transform 0.3s ease-in-out;
	position: relative;
}

.task_card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task_card h2 {
	color: #333;
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.task_card p {
	color: #666;
	font-size: 16px;
	line-height: 1.5;
}
.task_card div i {
	background: red;
	border-radius: 50%;
	position: absolute;
	border: 1px solid #333;
	top: -1rem;
	left: 95%;
	cursor: pointer;
}
.task_card i {
	font-size: 3rem;
}

.task_info {
	color: #444;
	font-size: 1.4rem;
	margin-top: 1rem;
	font-style: italic;
}

.task_options {
	position: absolute;
	top: -25%;
	right: -5%; /* Position it to the right of the card */
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 100;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	transition: all 0.3s ease;
}

.task_options button {
	margin: 5px 0;
	padding: 8px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.task_options button:hover {
	background-color: #e0e0e0;
}

.task_deadline_indicator {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

/* REMOVE*/
.tasks_crud_containter {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;
	margin-right: 15rem;
	margin-top: 3rem;
}

/* REMOVE */
.crud_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.crud_icon:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.archives_container {
	background-color: white; /* Matching the main container color */
	padding: 2rem;

	height: auto;
}

.archives_heading {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1rem;
}

.archives_heading::after {
	content: '';
	display: block;
	width: 15%;
	height: 6px;
	background-color: rgb(72, 207, 72);
	margin: auto;
	position: relative;
	top: 20px;
	border-radius: 4px;
	margin-bottom: 5rem;
}

.archives_table {
	width: 100%; /* Full width of the container */
	border-collapse: collapse; /* Removes space between borders */
	margin: auto; /* Center the table */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent with task card shadow */
}

.archives_table th,
.archives_table td {
	border: 2px solid #ddd; /* Light grey border */
	font-size: 1.4rem;
	/* TODO  */
	line-height: 1.3;
	padding: 8px;
	text-align: left; /* Aligns text to the left */
}

.archives_table th {
	background-color: #f2f2f2; /* Light grey background for headers */
	color: #333; /* Dark grey color for header text */
}

.archives_table tr:nth-child(even) {
	background-color: #f9f9f9;
} /* Zebra striping for rows */

.archives_table tr:hover {
	background-color: #ddd;
} /* Hover effect for rows */

.archives_table td {
	color: #666; /* Consistent with task card text color */
}

/* FIXME NAME*/
.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Darker semi-transparent background for more focus on the modal */
	backdrop-filter: blur(8px); /* Enhanced blur for background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
/* FIXME NAME*/
.modalContent {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Smoother shadow for depth */
	width: 40%; /* Use percentage for responsive width */
	max-width: 600px; /* Maximum width to ensure it doesn't get too wide on large screens */
	z-index: 1001;
	display: flex;
	flex-direction: column; /* Stack elements vertically */
}
/* FIXME NAME */
.modalHeading {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea; /* Subtle line to separate heading */
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #333;
}
/* FIXME NAME */
.modalFieldTitle {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
	font-size: 1.4rem;
}
/* FIXME NAME */
.modalInput,
.modalTextarea {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd; /* Light border for inputs */
	border-radius: 5px; /* Slight rounding of corners */
	width: calc(100% - 20px); /* Full width minus padding */
}
/* FIXME NAME */
.modalTextarea {
	height: 100px; /* Fixed height for the textarea */
	resize: vertical; /* Allows vertical resizing */
}
/* FIXME NAME */
.modalButtonGroup {
	display: flex;
	justify-content: flex-end; /* Align buttons to the right */
}
/* FIXME NAME */
.modalButton {
	padding: 1rem 2rem;
	margin-left: 1rem; /* Space between buttons */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
/* FIXME NAME */
.modalButton__save {
	background-color: #4caf50; /* Green background */
	color: white;
}
/* FIXME NAME */
.modalButton__cancel {
	background-color: #f44336; /* Red background */
	color: white;
}
/* FIXME NAME */
.successNotification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #4caf50; /* Green background */
	color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1002; /* Ensure it appears above all other content */
}
/* FIXME NAME */
.notificationCloseButton {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

/* PAGINATION */

.pagination button {
	padding: 10px;
	margin: 5px;
	border: none;
	background-color: #f4f4f4;
}

.pagination button.active {
	background-color: #428bca;
	color: white;
}

.pagination button:hover {
	background-color: #ddd;
}

.show_archive {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	background-color: #f4f4f4;
	font-size: 1.6rem;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	padding: 0.5rem;
	margin-left: 1rem;
}

.modalContent p {
	font-size: 1.4rem;
}
