/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////

TYPOGRAPHY SYSTEM 

FONT SIZE SYSTEM (px) 

12 / 14 / 16 / 18 / 20 / 24 / 26 / 30 / 34 / 42 / 48 / 54 / 62 / 70 / 78 / 88  


- Font weights:

- Line heights:

- Letter Spacing:

COLOURS

- Primary:

- Tints:

- Shades:

- Greys:


SHADOWS 
box-shadow etc.


BORDER RADIUS:



WHITESAPCE 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 28 / 32 / 48 / 64 / 80 / 96 / 128

 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
