/***********************************/
/* GENERAL REUSABLE COMPONENTS */
/***********************************/

/*PLACE FOR COMPONENTS THAT ARE GOING TO BE RE-USABLE ACROSS THE PROJECT*/

.container {
	/* 1140px or 1200px which is a quite popular */
	max-width: 120rem;
	/* auto gives the same margin to the left and right */
	margin-inline: auto;
	padding: 0 3.2rem;
}

.grid {
	display: grid;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

/* this needs to be updated */
.grid-2-cols-rows {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 4.8rem;
	row-gap: 4.8rem;
	justify-content: center;
	align-content: center;
}

.grid-4-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-weight: 700;
	color: #333;
	letter-spacing: -0.5px;
}

.heading--primary {
	font-size: 4.8rem;
	margin-bottom: 3.2rem;
}
.heading--secondary {
	font-size: 3.4rem;
	margin-bottom: 9.6rem;
}

.white-box {
	background-color: orangered;
	width: 120rem;
	height: 25rem;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: transparent; /* add logo and leave th=*/
	width: 35rem;
	color: #fff;
	backdrop-filter: blur(20px);
	padding: 0 3rem 5rem 3rem;
	border-radius: 10px;
	border: 2px solid #fff;
	box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
}

.login-container h1 {
	font-size: 3.2rem;
	text-align: center;
	margin: 4.8rem;
}

.login-container .input-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 0 2rem;
	width: 100%;
	margin: 30px 0;
	background: transparent;
}

.input-box input {
	flex-grow: 1;
	border: none;
	outline: none;
	background: transparent;
	height: 5rem;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
}

.input-box input::placeholder {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 1px;
}

.icon {
	width: 20px;
	height: 20px;
}

/* It means that every element of calls icon in input-box will have such property */
.input-box svg {
	fill: #fff;
}
