/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////

TYPOGRAPHY SYSTEM 

FONT SIZE SYSTEM (px) 

12 / 14 / 16 / 18 / 20 / 24 / 26 / 30 / 34 / 42 / 48 / 54 / 62 / 70 / 78 / 88  


- Font weights:

- Line heights:

- Letter Spacing:
0.6px

COLOURS
#f7f8fd - background
- Primary:

- Tints:

- Shades:

- Greys:
#333


SHADOWS 
box-shadow etc.


BORDER RADIUS:
10px


WHITESAPCE 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 28 / 32 / 48 / 64 / 80 / 96 / 128 / 156

 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
/*PLACE FOR ELEMENTS THAT WILL APPEAR ONLY ONCE*/
html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Rubik', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #333;
}

/* 

/////////////////
HEADER COMPONENT
/////////////////
*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(16, 171, 106);
	background: radial-gradient(circle, rgba(16, 171, 106, 1) 35%, rgba(31, 226, 144, 1) 100%);
	height: 9rem;
	padding: 0 4.8rem;
}

.main-nav-list {
	display: flex;
	list-style: none;
	gap: 3rem;
	position: relative;
}

.main-nav-link {
	text-decoration: none;
	color: #333;
	font-size: 1.8rem;
}

.logo {
	max-height: 6vh;
}

.main-nav-btns {
	display: flex;
	align-items: center;
	gap: 2rem;
	letter-spacing: 0.6px;
}

.btn-nav-login {
	/* outline: #333; */
	color: #333;
	/* background-color: #333; */
	border: 1px solid #333;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
}

/* When binding it in css i will need to select to interact with this element not entire block */
.btn-register {
	/* colo */
	background-color: aliceblue; /*Color needs to be changed*/
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
}

.main-nav-list li {
	position: relative;
}

.main-nav-list li::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.main-nav-list li:hover::before {
	transform: scaleX(1);
}
/*
/////////////////
HERO SECTION 
/////////////////
*/

.section-hero {
	padding-top: 12.8rem;
	padding-bottom: 12.8rem;
	height: 85vh;
	background-color: #ffffff;
}

.hero-text-box {
	/* border: 1px solid #333; */
	height: 30rem;
}

.hero-illustration-box {
	/* border: 1px solid #333; */
}
.illustration {
	width: 75%;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.hero-text {
	font-size: 2.4rem;
	line-height: 1.4;
	letter-spacing: 1px;
}

/* 
/////////////////
FEATURES SECTION 
/////////////////
*/

.section-features {
	padding-top: 3.2rem;
	background-color: hsl(155, 77%, 50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 70rem;
	padding-bottom: 15rem;
}

.feature-container {
	background-color: #fff;
	width: 60rem;
	height: 20rem;
	border-radius: 10px;
}

/*
/////////////////

/////////////////
*/

/* ######################################################################### */

/* LOGIN PAGE */
.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(16, 139, 171);
	background: center no-repeat url(../images/MOEA_logo.png), linear-gradient(-30deg, rgba(16, 139, 171, 1) 29%, rgba(31, 226, 144, 1) 100%);
	background-size: 45% auto, cover;

	/* background: center / contain no-repeat url(images/International_Pokémon_logo.svg.png), linear-gradient(-60deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%); */
}
